.maintitle{
    color: antiquewhite;
    text-decoration: underline;

    letter-spacing: 20px;
    text-transform: capitalize;
    font-weight: 600;

    border-color:blue lightseagreen blue lightseagreen;
    border-width: 10px;
    border-style: solid;
}

h1{
    text-align: left;
    color: wheat;
    text-decoration: underline;
}

h1,h2,h3::first-letter{
    -webkit-initial-letter: 1.5;
    initial-letter: 1.5;
}

header>label{
    font-size: 2em;
}

nav>ul>li>label{
    font-size: 1.2em;
}

h1{
    font-size: 2em;
}