.articleheader > .sectiontitle > a:link {
  color: wheat;
  font-size: 1.5em;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  text-decoration: none;
  border: solid red 1px;
}

.articleheader > .sectiontitle > a:hover {
  border-style: none;
}

.articleheader > .sectiontitle > a:visited {
  color: wheat;
  border: solid red 1px;
}

nav>ul>li>label:hover{
    border-style: none;
}

nav>ul>li>label{
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    border: solid red 1px;
}